:root{
	--color-aqua:#6A55FF;
	--color-aqua-light:#27D4ED;
	--color-blue:#008FFF;
	--color-blue-dark:#279DFF;
	--color-gray:#cccccc;
	--color-green:#19a7ca77;
	--color-white:white;
	--color-black:rgba(0, 0, 0, .8);
	--color-red:#ff1100b6;
}
.app-div-1{height:10rem;}
.text-white{color:var(--color-white);}
.center{text-align:center}
.texto-blanco{color:var(--color-white);}
.bg-aqua{background:var(--color-aqua);}
.bg-blue{background:var(--color-blue);}
.mt-0{margin-top:0 !important;}
.text-white{text-align:center;}
.list-group .badge{display:none;}
.app-img{width:100%;height:100%;}
.app-div-redes i{font-size:100%;}
.mt-5{margin-top:3rem !important;}
.mt-3{margin-top:1rem !important;}
.py-3 {padding-top:1rem !important;}
.py-4 {padding-top:1.5rem !important;}
.mr-4{margin-right:1.5rem !important;}
.app-redes img{width:15px;height:15px;}
.app-div-redes{width:20px;height:20px;}
.mb-4{margin-bottom:1.5rem !important;}
.btn{position:relative;overflow:hidden;}
.mx-auto {margin-right:auto !important;}
.app-hr-aqua{background:var(--color-aqua);color:var(--color-aqua);}
.app-footer{background:var(--color-black);}
.app-footer-border{background:var(--color-blue-dark);color:var(--color-white);}
.text-uppercase {text-transform:uppercase !important;}
.app-imagen-personal{width:50%;height:100%;border-radius:100%;}
.d-flex {display:-ms-flexbox !important;display:flex !important;}
.app-badge{z-index:10;position:absolute;top:-20px;right:-10px;}
.app-centrar:hover{font-size:30px;color:var(--color-white);text-decoration-line:none;}
.app-centrar{font-size:30px;padding:0px;width:60px;color:var(--color-white);text-decoration-line:none;}
.app-footer-a{color:var(--color-white);text-decoration-color:none;text-decoration:none;list-style:none;}
.app-img-titulo{width:auto;height:5rem;padding:1rem;position:absolute;margin:0em 2em 2em 3em;}
.app-footer-a:hover{color:var(--color-white);text-decoration-color:none;text-decoration:none;list-style:none;}
.app-navbar{background:var(--color-black);border:2px solid var(--color-white);height:100%;border-radius:0px;position:absolute;}
.app-separador-1{background:var(--color-aqua-light);margin-top:-10px;margin-bottom:50px;width:200px;height:4px;border-radius:10px;}
.app-separador-2{background:var(--color-blue);margin-top:-10px;margin-bottom:50px;width:200px;height:4px;border-radius:10px;}
.app-separador-name{background:var(--color-aqua);margin-top:-10px;margin-bottom:50px;width:405px;height:4px;border-radius:10px;}
.app-separador-medio{background:var(--color-gray);margin-top:50px;margin-bottom:10px;width:2px;height:115em;border-radius:40px;}
.app-centrar-imgP{padding:0px;width:50rem;position:absolute;left:150px;height:35rem;transition:all 1s;border-radius:95%;}
.badge{background:linear-gradient(to top left,#6232FF 0%,#6232FF 10%,#4824FF 20%,#2439FF 40%,#2947FD 60%,#386CFF 80%,#3B76FB 90%,#5487FA 100%)}
.app-copy{background:-webkit-linear-gradient(left, #767676 0%, #767676 1%, #A0A0A0 23%, #D7D7D7 49%, #D7D7D7 54%, #A0A0A0 82%, #767676 99%, #767676 100%);background:-o-linear-gradient(left, #767676 0%, #767676 1%, #A0A0A0 23%, #D7D7D7 49%, #D7D7D7 54%, #A0A0A0 82%, #767676 99%, #767676 100%);background:linear-gradient(to right, #767676 0%, #767676 1%, #A0A0A0 23%, #D7D7D7 49%, #D7D7D7 54%, #A0A0A0 82%, #767676 99%, #767676 100%);;}

.app-rotar:hover i{-webkit-animation:girar .5s ease-in-out;-o-animation:girar 1s ease-in-out;animation:girar 1s ease-in-out;}
.btn:focus:not(:active)::after{-webkit-animation:ripple 2s ease-in-out;-o-animation:ripple 2s ease-in-out;animation:ripple 2s ease-in-out;}
.list-group:hover .badge{display:block;-webkit-animation:vuelta 1s ease-in-out ;-o-animation:vuelta 1s ease-in-out ;animation:vuelta 1s ease-in-out ;}
.btn:after{content:'';position:absolute;top:50%;left:50%;width:5px;height:5px;background:var(--color-gray);opacity:0;border-radius:100%;transform:scale(1,1) translate(-50%);transform-origin:50% 50%;}

button{position:relative;overflow:hidden;}
input[type=number]{moz-appearance:textfield;}
button:focus:not(:active)::after{animation:ripple 4s ease-out;}
button:after{content:'';position:absolute;top:50%;left:50%;width:5px;height:5px;background:var(--color-gray);opacity:0;border-radius:100%;transform:scale(1,1) translate(-50%);transform-origin:50% 50%;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {-webkit-appearance:none;-moz-webkit-appearance:none;-ms-webkit-appearance:none;-o-webkit-appearance:none;webkit-appearance:none;margin:0;} 

@keyframes ripple{0%{transform:scale(0,0);opacity:1;}20%{transform:scale(25,25);opacity:1;}100%{opacity:0;transform:scale(40,40);}}
@media (min-width:768px) {.text-md-left {text-align:left !important;} .text-md-right {text-align:right !important;} .text-md-center {text-align:center !important;}}
@keyframes girar{from{transform:rotate(0deg);}to{transform:rotate(360deg);}}
@keyframes vuelta{from{transform:rotateY(0deg);}to{transform:rotateY(360deg);}}

header{background:-webkit-linear-gradient(left, #8C8B8B 0%, #8C8B8B 1%, #BABABA 23%, #D1D1D1 49%, #D1D1D1 54%, #BABABA 82%, #8C8B8B 99%, #8C8B8B 100%);background:-o-linear-gradient(left, #8C8B8B 0%, #8C8B8B 1%, #BABABA 23%, #D1D1D1 49%, #D1D1D1 54%, #BABABA 82%, #8C8B8B 99%, #8C8B8B 100%);background:linear-gradient(to right, #8C8B8B 0%, #8C8B8B 1%, #BABABA 23%, #D1D1D1 49%, #D1D1D1 54%, #BABABA 82%, #8C8B8B 99%, #8C8B8B 100%);padding-bottom:190px;text-align:justify;letter-spacing:2px;}
main{background:-webkit-linear-gradient(to right,rgba(190,190,190,0.75) 0%,rgba(190,190,190,0.75) 1%,rgba(216,216,216,0.74) 23%,rgba(220,220,220,0.73) 49%,rgba(220,220,220,0.73) 54%,rgba(216,216,216,0.72) 82%,rgba(190,190,190,0.71) 99%,rgba(190,190,190,0.71) 100%);background:-o-linear-gradient(to right, rgba(190,190,190,0.75) 0%, rgba(190,190,190,0.75) 1%, rgba(216,216,216,0.74) 23%, rgba(220,220,220,0.73) 49%, rgba(220,220,220,0.73) 54%, rgba(216,216,216,0.72) 82%, rgba(190,190,190,0.71) 99%, rgba(190,190,190,0.71) 100%);background:linear-gradient(to right, rgba(190,190,190,0.75) 0%, rgba(190,190,190,0.75) 1%, rgba(216,216,216,0.74) 23%, rgba(220,220,220,0.73) 49%, rgba(220,220,220,0.73) 54%, rgba(216,216,216,0.72) 82%, rgba(190,190,190,0.71) 99%, rgba(190,190,190,0.71) 100%);padding-bottom:190px;text-align:justify;letter-spacing:2px;}

#app-lista-none{border:none;}
#app-none{background:none;border:none;}
#app-nav-border{border-radius:0px;outline:5px solid var(--color-blue-dark);}
#app-titulo-li{background:#000;color:var(--color-white);border-bottom:4px solid var(--color-blue);}
#app-input-form{background:var(--color-blue);border:none;border-bottom-left-radius:4px;border-top-left-radius:4px;}
#app-input-form-der{background:#8CF042;border:none;border-bottom-right-radius:4px;border-top-right-radius:4px;}
